$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 64rem) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 48rem) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 36rem) {
      @content;
    }
  }
}

@mixin skillItems($args) {
  @each $name, $value in $args {
    .#{$name} {
      display: block;
      background-color: $crimson;
      width: $value * 1%;
      height: 100%;
      border-radius: inherit;
      animation: $name $value * 0.01s ease-in-out 0.1s;
    }

    @keyframes #{$name} {
      from {
        width: 0;
      }
      to {
        width: $value;
      }
    }
  }
}
