.btn-primary {
  background-color: $primary;
  color: $white;
  font-size: 1rem;
  font-family: $ff-primary;
  border: 1px solid $primary;
  font-weight: $fw-medium;
  transition: all 0.4s;

  a {
    display: block;
    padding: 0.6rem 1.2rem;
  }

  &:hover {
    background-color: $white;
    color: $primary;
  }
}
